In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Loading Data
data = pd.read_csv('poems.csv')

In [3]:
data = data.sample(frac=1)
data.head()

                                                  Poem   Genre
996  (thee will i praise between those rivers whose...    Love
957  Come when the nights are bright with starsOr w...    Love
107  Shame on you for dating a museum:Everything is...   Death
459  As in green, vert, a royal demesne     stocked...  Nature
876  I love a white v-neck t-shirton you: two cotto...    Love

In [4]:
data['Genre'].value_counts()

Audio     254
Nature    253
Death     250
Love      242
Name: Genre, dtype: int64

In [5]:
import nltk
import string

# Function for removing punctuations from poems
def rem_punc(text):
    punctuation = string.punctuation + '“”|”'
    for i in punctuation:
        text = text.replace(i,"")
    return text

def to_lower(text):
    return text.lower()

# Converting poems to lowercase
data['Poem'] = data['Poem'].apply(to_lower)

# # Removing punctuations from poems
# data['Poem'] = data['Poem'].apply(rem_punc)

data.head()

                                                  Poem   Genre
996  996    (thee will i praise between those river...    Love
957  996    (thee will i praise between those river...    Love
107  996    (thee will i praise between those river...   Death
459  996    (thee will i praise between those river...  Nature
876  996    (thee will i praise between those river...    Love

In [24]:
from wordcloud import WordCloud
from ipywidgets import interact
from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS

genre_list = ['Death', 'Audio', 'Nature', 'Love']

@interact
def plot_word_cloud(genre=genre_list):
    
    sample_data = data[data['Genre'] == genre]
    text = ' '.join(sample_data['Poem'].tolist())
    wordcloud = WordCloud(max_font_size=60, stopwords=ENGLISH_STOP_WORDS).generate(text)
        
    plt.figure(figsize=(12,12))
    plt.imshow(wordcloud)
    plt.axis("off")
    plt.title('WordCloud for {}'.format(genre))

interactive(children=(Dropdown(description='genre', options=('Death', 'Audio', 'Nature', 'Love'), value='Death…

In [25]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [26]:
X = data['Poem'] #Column for Feature
y = data['Genre'] #Column for Prediction

In [27]:
for stop_words in [None, "english"]:

    vect = CountVectorizer(ngram_range=(1,1), stop_words=stop_words)
    data_dtm = vect.fit_transform(X)
    print('The shape of our dtm with stop_words={} is: {}'.format(stop_words, data_dtm.shape))

The shape of our dtm with stop_words=None is: (999, 9434)
The shape of our dtm with stop_words=english is: (999, 9163)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)